
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>SemGem</title>
    
    <link rel="stylesheet" type="text/css"
        href="http://www.cgn.wur.nl/applications/cgngenis/Style/blue.css" />
  </head>
  <body>
    <div class="document">
        <span id="id1"></span>
        <h1>Accession integration</h1>
        <p>
          This page integration information about the Tomato accession
          "CGN14338" from two different germplasm collection.
        </p>

        <table class="boxpart">
          <tr class="kop">
            <th>Trait</th>
            <th>Value</th>
            <th>Origin</th>
          </tr>
          {% for val in info %}
            <tr>
              <td>{{ val.trait }}</td>
              <td>{{ val.value }}</td>
              <td style="font-style:italic">{{ val.origin }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
