{% extends "master.html" %}

{% block content %}<span id="id1"></span><h1>Semantic Germplasm</h1>
        <p>
    A semantic genebank integration.
        </p><p>
    Using semantic web technologies, this application integrate
    information from two differents genebank for the provided
    accession.
        </p><form method="POST" action="{{url_for('submit')}}" >
          <ul style="list-style-type: none;"><li><label for="eusol_id">
EU-SOL identifier: </label><input
                id="eusol_id" name="eusol_id" type="text" value="">
            </li>
            <li>
              <input type="submit" value="Submit">
            </li></ul></form>

      </ul>
{% endblock %}
